n8n-workflows/wf-atualizar-cadastro.json
{
  "name": "MK - Atualizar Cadastro",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mk-atualizar-cadastro",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "mk-atualizar-cadastro"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "mk:auth:token"
      },
      "id": "redis-get",
      "name": "Redis GET Token",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [480, 300],
      "credentials": {
        "redis": {
          "id": "redis-cred",
          "name": "Redis Local"
        }
      }
    },
    {
      "parameters": {
        "url": "https://mk.conectivainfor.com.br/mk/WSMKNovaLead.rule",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "sys", "value": "MK0" },
            { "name": "token", "value": "={{ $node['Redis GET Token'].json.propertyName }}" },
            { "name": "cd_cliente", "value": "={{ $node['Webhook Trigger'].json.body.cd_cliente || '' }}" },
            { "name": "tipo_atendimento", "value": "={{ $node['Webhook Trigger'].json.body.tipo_atendimento || 'ATUALIZACAO_CADASTRO' }}" },
            { "name": "descricao", "value": "={{ $node['Webhook Trigger'].json.body.descricao || 'Atualização de cadastro via chat automatizado' }}" },
            { "name": "email", "value": "={{ $node['Webhook Trigger'].json.body.email || '' }}" },
            { "name": "telefone", "value": "={{ $node['Webhook Trigger'].json.body.telefone || '' }}" },
            { "name": "observacao", "value": "={{ $node['Webhook Trigger'].json.body.observacao || '' }}" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "http-mk",
      "name": "HTTP - AtualizarCadastro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "jsCode": "const mkResponse = $input.first().json;\nconst body = $('Webhook Trigger').first().json.body || {};\n\nconst success = mkResponse.status !== 'error' && mkResponse.CodigoRetorno !== '-1';\n\nreturn [{\n  json: {\n    success,\n    data: {\n      protocolo: mkResponse.CodigoLead || mkResponse.Protocolo || null,\n      cd_cliente: body.cd_cliente,\n      tipo: body.tipo_atendimento || 'ATUALIZACAO_CADASTRO',\n      descricao: body.descricao,\n      status: success ? 'registrado' : 'erro'\n    },\n    endpoint: 'WSMKNovaLead',\n    session_id: body.session_id || null\n  }\n}];"
      },
      "id": "format-response",
      "name": "Formatar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "options": {},
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1140, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [{ "node": "Redis GET Token", "type": "main", "index": 0 }]
      ]
    },
    "Redis GET Token": {
      "main": [
        [{ "node": "HTTP - AtualizarCadastro", "type": "main", "index": 0 }]
      ]
    },
    "HTTP - AtualizarCadastro": {
      "main": [
        [{ "node": "Formatar Resposta", "type": "main", "index": 0 }]
      ]
    },
    "Formatar Resposta": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "MK Solutions" },
    { "name": "Cadastro" }
  ]
}
