n8n-workflows/wf-criar-pessoa.json
{
  "name": "MK - Criar Pessoa (Cadastro de Cliente)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mk-criar-pessoa",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "mk-criar-pessoa"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "mk:auth:token"
      },
      "id": "redis-get",
      "name": "Redis GET Token",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [480, 300],
      "credentials": {
        "redis": {
          "id": "redis-cred",
          "name": "Redis Local"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook Trigger').first().json.body || {};\nconst token = $('Redis GET Token').first().json.propertyName;\n\n// Campos obrigatórios\nconst params = {\n  sys: 'MK0',\n  token: token,\n  doc: body.doc || '',\n  nome: body.nome || ''\n};\n\n// Campos opcionais — só incluir se não estiverem vazios\nconst optional = [\n  'cep', 'cd_uf', 'cd_cidade', 'cd_bairro', 'cd_logradouro',\n  'numero', 'complemento', 'email', 'fone', 'nascimento', 'nome_mae', 'rg'\n];\n\nfor (const field of optional) {\n  const val = body[field];\n  if (val && String(val).trim() !== '') {\n    params[field] = String(val).trim();\n  }\n}\n\n// Montar URL com query string\nconst qs = Object.entries(params)\n  .map(([k, v]) => `${encodeURIComponent(k)}=${encodeURIComponent(v)}`)\n  .join('&');\n\nconst url = `https://mk.conectivainfor.com.br/mk/WSMKNovaPessoa.rule?${qs}`;\n\nreturn [{ json: { url, params_enviados: Object.keys(params) } }];"
      },
      "id": "prepare-params",
      "name": "Preparar Parametros",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "http-mk",
      "name": "HTTP - NovaPessoa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "jsCode": "const mkResponse = $input.first().json;\nconst body = $('Webhook Trigger').first().json.body || {};\nconst paramsInfo = $('Preparar Parametros').first().json;\n\nconst success = mkResponse.status !== 'ERRO';\n\nreturn [{\n  json: {\n    success,\n    data: mkResponse,\n    params_enviados: paramsInfo.params_enviados,\n    endpoint: 'WSMKNovaPessoa',\n    session_id: body.session_id || null\n  }\n}];"
      },
      "id": "format-response",
      "name": "Formatar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 300]
    },
    {
      "parameters": {
        "options": {},
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1360, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Redis GET Token", "type": "main", "index": 0 }]]
    },
    "Redis GET Token": {
      "main": [[{ "node": "Preparar Parametros", "type": "main", "index": 0 }]]
    },
    "Preparar Parametros": {
      "main": [[{ "node": "HTTP - NovaPessoa", "type": "main", "index": 0 }]]
    },
    "HTTP - NovaPessoa": {
      "main": [[{ "node": "Formatar Resposta", "type": "main", "index": 0 }]]
    },
    "Formatar Resposta": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "MK Solutions" }, { "name": "Cadastro" }]
}
