n8n-workflows/wf-criar-pessoa.json
{
  "name": "MK - Criar Pessoa (Cadastro de Cliente)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mk-criar-pessoa",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "mk-criar-pessoa"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "mk:auth:token"
      },
      "id": "redis-get",
      "name": "Redis GET Token",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [480, 300],
      "credentials": {
        "redis": {
          "id": "redis-cred",
          "name": "Redis Local"
        }
      }
    },
    {
      "parameters": {
        "url": "https://mk.conectivainfor.com.br/mk/WSMKNovaPessoa.rule",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "sys", "value": "MK0" },
            { "name": "token", "value": "={{ $node['Redis GET Token'].json.token || $node['Redis GET Token'].json }}" },
            { "name": "doc", "value": "={{ $node['Webhook Trigger'].json.body.doc }}" },
            { "name": "nome", "value": "={{ $node['Webhook Trigger'].json.body.nome }}" },
            { "name": "cep", "value": "={{ $node['Webhook Trigger'].json.body.cep || '' }}" },
            { "name": "cd_uf", "value": "={{ $node['Webhook Trigger'].json.body.cd_uf || '' }}" },
            { "name": "cd_cidade", "value": "={{ $node['Webhook Trigger'].json.body.cd_cidade || '' }}" },
            { "name": "cd_bairro", "value": "={{ $node['Webhook Trigger'].json.body.cd_bairro || '' }}" },
            { "name": "cd_logradouro", "value": "={{ $node['Webhook Trigger'].json.body.cd_logradouro || '' }}" },
            { "name": "numero", "value": "={{ $node['Webhook Trigger'].json.body.numero || '' }}" },
            { "name": "complemento", "value": "={{ $node['Webhook Trigger'].json.body.complemento || '' }}" },
            { "name": "email", "value": "={{ $node['Webhook Trigger'].json.body.email || '' }}" },
            { "name": "fone", "value": "={{ $node['Webhook Trigger'].json.body.fone || '' }}" },
            { "name": "nascimento", "value": "={{ $node['Webhook Trigger'].json.body.nascimento || '' }}" },
            { "name": "nome_mae", "value": "={{ $node['Webhook Trigger'].json.body.nome_mae || '' }}" },
            { "name": "rg", "value": "={{ $node['Webhook Trigger'].json.body.rg || '' }}" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "http-mk",
      "name": "HTTP - NovaPessoa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "jsCode": "const mkResponse = $input.first().json;\nconst body = $('Webhook Trigger').first().json.body || {};\n\nconst success = mkResponse.status !== 'ERRO';\n\nreturn [{\n  json: {\n    success,\n    data: mkResponse,\n    endpoint: 'WSMKNovaPessoa',\n    session_id: body.session_id || null\n  }\n}];"
      },
      "id": "format-response",
      "name": "Formatar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "options": {},
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1140, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Redis GET Token", "type": "main", "index": 0 }]]
    },
    "Redis GET Token": {
      "main": [[{ "node": "HTTP - NovaPessoa", "type": "main", "index": 0 }]]
    },
    "HTTP - NovaPessoa": {
      "main": [[{ "node": "Formatar Resposta", "type": "main", "index": 0 }]]
    },
    "Formatar Resposta": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "MK Solutions" }, { "name": "Cadastro" }]
}
