n8n-workflows/wf-listar-params-contrato.json
{
  "name": "MK - Listar Parâmetros para Contrato",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mk-listar-params-contrato",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "mk-listar-params-contrato"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "mk:auth:token"
      },
      "id": "redis-get",
      "name": "Redis GET Token",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [480, 300],
      "credentials": {
        "redis": {
          "id": "redis-cred",
          "name": "Redis Local"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const token = $input.first().json.propertyName;\nconst base = 'https://mk.conectivainfor.com.br/mk';\nconst body = $('Webhook Trigger').first().json.body || {};\n\nasync function mkGet(endpoint, extra) {\n  try {\n    const url = base + '/' + endpoint + '.rule?sys=MK0&token=' + token + (extra || '');\n    const data = await this.helpers.httpRequest({ method: 'GET', url, json: true, timeout: 15000 });\n    return data;\n  } catch(e) {\n    return { _error: e.message };\n  }\n}\n\nconst fn = mkGet.bind(this);\n\nconst [planos, regrasVcto, sla, regraBloq, profilePgto, planoContas, descontos, tiposOS] = await Promise.all([\n  fn('WSMKListaPlanoAcesso', '&TipoPlano=1'),\n  fn('WSMKListaRegraVencimento'),\n  fn('WSMKListaTabelaSLA'),\n  fn('WSMKListaRegraBloqueio'),\n  fn('WSMKListaProfilePagamento', '&CodigoFormaPagamento=3'),\n  fn('WSMKPlanoContas'),\n  fn('WSMKListaDesconto'),\n  fn('WSMKOSListaTiposOS'),\n]);\n\nreturn [{\n  json: {\n    success: true,\n    data: {\n      planos: (planos.Planos || []).filter(p => p.inativo === 'N'),\n      regrasVencimento: regrasVcto.RegrasVencimento || [],\n      tabelasSLA: sla.TabelaSLA || [],\n      regrasBloqueio: regraBloq.RegraBloqueio || [],\n      profilesPagamento: profilePgto.ProfilesPagamento || [],\n      planoContas: planoContas.PlanoContas || [],\n      descontos: descontos.RegrasDesconto || [],\n      tiposOS: tiposOS.Tipos || [],\n    },\n    endpoint: 'WSMKListaParamsContrato',\n    session_id: body.session_id || null,\n  }\n}];"
      },
      "id": "fetch-all",
      "name": "Buscar Todos Parâmetros MK",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "options": {},
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Redis GET Token", "type": "main", "index": 0 }]]
    },
    "Redis GET Token": {
      "main": [[{ "node": "Buscar Todos Parâmetros MK", "type": "main", "index": 0 }]]
    },
    "Buscar Todos Parâmetros MK": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "MK Solutions" }, { "name": "Cadastro" }]
}
