n8n-workflows/wf-novo-contrato.json
{
  "name": "MK - Novo Contrato",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mk-novo-contrato",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "mk-novo-contrato"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "mk:auth:token"
      },
      "id": "redis-get",
      "name": "Redis GET Token",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [480, 300],
      "credentials": {
        "redis": {
          "id": "redis-cred",
          "name": "Redis Local"
        }
      }
    },
    {
      "parameters": {
        "url": "https://mk.conectivainfor.com.br/mk/WSMKNovoContrato.rule",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "sys", "value": "MK0" },
            { "name": "token", "value": "={{ $node['Redis GET Token'].json.propertyName }}" },
            { "name": "CodigoCliente", "value": "={{ $node['Webhook Trigger'].json.body.CodigoCliente }}" },
            { "name": "CodigoTipoPlano", "value": "={{ $node['Webhook Trigger'].json.body.CodigoTipoPlano || '' }}" },
            { "name": "CodigoPlanoAcesso", "value": "={{ $node['Webhook Trigger'].json.body.CodigoPlanoAcesso || '' }}" },
            { "name": "CodigoRegraVencimento", "value": "={{ $node['Webhook Trigger'].json.body.CodigoRegraVencimento || '' }}" },
            { "name": "CodigoSLA", "value": "={{ $node['Webhook Trigger'].json.body.CodigoSLA || '' }}" },
            { "name": "CodigoRegraBloqueio", "value": "={{ $node['Webhook Trigger'].json.body.CodigoRegraBloqueio || '' }}" },
            { "name": "CodigoFormaPagamento", "value": "={{ $node['Webhook Trigger'].json.body.CodigoFormaPagamento || '' }}" },
            { "name": "CodigoProfilePagamento", "value": "={{ $node['Webhook Trigger'].json.body.CodigoProfilePagamento || '' }}" },
            { "name": "CodigoMetodoFaturamento", "value": "={{ $node['Webhook Trigger'].json.body.CodigoMetodoFaturamento || '' }}" },
            { "name": "CodigoPlanoContas", "value": "={{ $node['Webhook Trigger'].json.body.CodigoPlanoContas || '' }}" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 20000
        }
      },
      "id": "http-mk",
      "name": "HTTP - NovoContrato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "jsCode": "const mkResponse = $input.first().json;\nconst body = $('Webhook Trigger').first().json.body || {};\n\nreturn [{\n  json: {\n    success: true,\n    data: mkResponse,\n    endpoint: 'WSMKNovoContrato',\n    session_id: body.session_id || null\n  }\n}];"
      },
      "id": "format-response",
      "name": "Formatar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "options": {},
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1140, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [{ "node": "Redis GET Token", "type": "main", "index": 0 }]
      ]
    },
    "Redis GET Token": {
      "main": [
        [{ "node": "HTTP - NovoContrato", "type": "main", "index": 0 }]
      ]
    },
    "HTTP - NovoContrato": {
      "main": [
        [{ "node": "Formatar Resposta", "type": "main", "index": 0 }]
      ]
    },
    "Formatar Resposta": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "MK Solutions" },
    { "name": "Contrato" }
  ]
}
