n8n-workflows/wf-viabilidade-cobertura.json
{
  "name": "MK - Viabilidade de Cobertura",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mk-viabilidade-cobertura",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "mk-viabilidade-cobertura"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "mk:auth:token"
      },
      "id": "redis-get",
      "name": "Redis GET Token",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [480, 300],
      "credentials": {
        "redis": {
          "id": "redis-cred",
          "name": "Redis Local"
        }
      }
    },
    {
      "parameters": {
        "url": "https://mk.conectivainfor.com.br/mk/WSMKListaEstruturaEnderecos.rule",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "sys", "value": "MK0" },
            { "name": "token", "value": "={{ $node['Redis GET Token'].json.token || $node['Redis GET Token'].json }}" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "http-mk",
      "name": "HTTP - Estrutura Enderecos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "jsCode": "const mkResponse = $input.first().json;\nconst body = $('Webhook Trigger').first().json.body || {};\nconst endereco = body.endereco || '';\n\n// Extrair lista de regiões/bairros/cidades atendidas\nlet regioes = [];\ntry {\n  // O MK pode retornar em diferentes formatos\n  const data = mkResponse.EstruturaEnderecos || mkResponse.estrutura_enderecos || mkResponse.Enderecos || mkResponse;\n  if (Array.isArray(data)) {\n    regioes = data;\n  } else if (data && typeof data === 'object') {\n    regioes = Object.values(data).flat();\n  }\n} catch (e) {\n  // fallback\n}\n\nreturn [{\n  json: {\n    success: true,\n    data: {\n      regioes_atendidas: regioes,\n      endereco_consultado: endereco,\n      total_regioes: regioes.length\n    },\n    raw: mkResponse,\n    endpoint: 'WSMKListaEstruturaEnderecos',\n    session_id: body.session_id || null\n  }\n}];"
      },
      "id": "format-response",
      "name": "Formatar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "options": {},
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1140, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [{ "node": "Redis GET Token", "type": "main", "index": 0 }]
      ]
    },
    "Redis GET Token": {
      "main": [
        [{ "node": "HTTP - Estrutura Enderecos", "type": "main", "index": 0 }]
      ]
    },
    "HTTP - Estrutura Enderecos": {
      "main": [
        [{ "node": "Formatar Resposta", "type": "main", "index": 0 }]
      ]
    },
    "Formatar Resposta": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "MK Solutions" },
    { "name": "Viabilidade" },
    { "name": "Cobertura" }
  ]
}
