n8n-workflows/wf-viabilidade-cobertura.json
{
  "name": "MK - Viabilidade de Cobertura",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mk-viabilidade-cobertura",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "mk-viabilidade-cobertura"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "mk:auth:token"
      },
      "id": "redis-get",
      "name": "Redis GET Token",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [480, 300],
      "credentials": {
        "redis": {
          "id": "redis-cred",
          "name": "Redis Local"
        }
      }
    },
    {
      "parameters": {
        "url": "https://mk.conectivainfor.com.br/mk/WSMKListaEstruturaEnderecos.rule",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "sys", "value": "MK0" },
            { "name": "token", "value": "={{ $node['Redis GET Token'].json.propertyName }}" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "http-mk",
      "name": "HTTP - Estrutura Enderecos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "jsCode": "const mkResponse = $input.first().json;\nconst body = $('Webhook Trigger').first().json.body || {};\nconst endereco = (body.endereco || '').toLowerCase();\n\n// Normalizar texto removendo acentos\nfunction norm(str) {\n  return (str || '').toLowerCase()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-z0-9\\s]/g, ' ').trim();\n}\n\nconst endNorm = norm(endereco);\nconst partes = endNorm.split(/[,\\-\\s]+/).filter(p => p.length > 2);\n\n// Extrair lista de endereços do MK\nlet lista = [];\ntry {\n  const data = mkResponse.ListaEnderecos || mkResponse.EstruturaEnderecos\n    || mkResponse.estrutura_enderecos || mkResponse.Enderecos || mkResponse;\n  if (Array.isArray(data)) {\n    lista = data;\n  } else if (data && typeof data === 'object') {\n    lista = Object.values(data).flat().filter(v => typeof v === 'object');\n  }\n} catch (e) {}\n\nconst cidadesMK = [...new Set(lista.map(r => r.cidade).filter(Boolean))];\nconst bairrosMK = [...new Set(lista.map(r => r.bairro).filter(Boolean))];\n\n// Buscar match de CIDADE\nlet cidadeMatch = null;\nfor (const cidade of cidadesMK) {\n  const cidNorm = norm(cidade);\n  if (cidNorm && (endNorm.includes(cidNorm) || partes.some(p => cidNorm.includes(p) && p.length > 3))) {\n    cidadeMatch = cidade;\n    break;\n  }\n}\n\n// Buscar match de BAIRRO\nlet bairroMatch = null;\nconst bairrosFiltrados = cidadeMatch\n  ? lista.filter(r => r.cidade === cidadeMatch).map(r => r.bairro).filter(Boolean)\n  : bairrosMK;\n\nfor (const bairro of [...new Set(bairrosFiltrados)]) {\n  const bNorm = norm(bairro);\n  if (bNorm && bNorm.length > 2 && (endNorm.includes(bNorm) || partes.some(p => bNorm.includes(p) && p.length > 3))) {\n    bairroMatch = bairro;\n    break;\n  }\n}\n\nconst temCobertura = !!(cidadeMatch);\n\nreturn [{\n  json: {\n    success: true,\n    data: {\n      tem_cobertura: temCobertura,\n      cidade_encontrada: cidadeMatch || null,\n      bairro_encontrado: bairroMatch || null,\n      endereco_consultado: body.endereco || '',\n      total_cidades_atendidas: cidadesMK.length,\n      cidades_atendidas: cidadesMK.slice(0, 20),\n    },\n    endpoint: 'WSMKListaEstruturaEnderecos',\n    session_id: body.session_id || null\n  }\n}];"
      },
      "id": "format-response",
      "name": "Formatar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "options": {},
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1140, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [{ "node": "Redis GET Token", "type": "main", "index": 0 }]
      ]
    },
    "Redis GET Token": {
      "main": [
        [{ "node": "HTTP - Estrutura Enderecos", "type": "main", "index": 0 }]
      ]
    },
    "HTTP - Estrutura Enderecos": {
      "main": [
        [{ "node": "Formatar Resposta", "type": "main", "index": 0 }]
      ]
    },
    "Formatar Resposta": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "MK Solutions" },
    { "name": "Viabilidade" },
    { "name": "Cobertura" }
  ]
}
